{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <h2>Upload the Content and Style Images</h2>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>

        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <h4>Content Image</h4>
                    <input type="file" name="file1" class="form-control" autocomplete="off" required>
                </p>
                <p>
                    <h4>Style Image</h4>
                    <input type="file" name="file2" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Upload" class="btn btn-info">
            </p>
        </form>
    </div>
    {% if filename %}
        <div>
            <h3>Content Image</h3>
            <img src="{{ url_for('display_image', filename=filename[0]) }}" , height=300>
            <h3>Style Image</h3>
            <img src="{{ url_for('display_image', filename=filename[1]) }}" , height=300>
        </div>
    {% endif %}
{% endblock %}